body {
  font-family: "Barlow";
}

.logo {
  height: 80px;
  width: 80px;
}

.my-btn {
  padding: 0.4rem 1.5rem;
  background-color: transparent;
  border-color: #7510f7;
  color: #7510f7;
  border-radius: 500px;
  border-width: 2px;
  font-weight: bold;
  margin: 10px 0;
}

.my-btn:hover {
  background-color: #7510f7;
  color: #fff;
  /* border-style: none; */
}

#navbarContent {
  text-align: center;
}

.navbar-toggler {
  border-style: none;
}

.title {
  margin-top: 7%;
  color: #4c4c4c;
  text-align: center;
}
.title h1 {
  font-family: "Abel";
  font-weight: bolder;
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}

.title p {
  font-family: "Montserrat";
  /* font-weight: bolder; */
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.highlight {
  border-style: solid;
  padding: 0.3rem;
  border-color: #7510f7;
  color: #7510f7;
}

.highlight:hover {
  background-color: #7510f7;
  color: #fff;
}

.container-fluid {
  padding: 1.5% 7%;
}
